html {
  height: 100%;
  
}

body {
  height: inherit;
  margin: 0;
  background: url("https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-attachment: fixed;
  background-size: cover;
}

.add-button {
  position: fixed;
  bottom: 10px;
  left: 10px;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  background-color: black;
  border: none;
  color: white;
  mix-blend-mode: screen; /* This makes the cutout text possible */
}

@media (orientation: landscape) {
  img {
    height: 100%;
    object-fit: cover;
  }
}
